body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gameArea {
    background-image: url("../images/parchment.jpg");
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h1 {
    font-family: 'Sonsie One', cursive;
    font-size: 6vmax;
}

#time, #question, .answer-block {   
    font-family: 'Mina', sans-serif;
    font-size: 3vmax;
}

.col-xs-12 {
    text-align: center;
}

.btn {
    margin: 20px auto;
}
